openapi: 3.0.1
info:
  title: BNGICC
  description: This is the OpenAPI Document on Azure Functions
  version: v1
servers:
  - url: https://tst-int-api-gateway.azure.defra.cloud/capp/v1
paths:
  /GetChargeByChargeCode:
    post:
      tags:
        - Charge Code Lookup
      summary: GetChargeByChargeCode
      description: GetChargeByChargeCode
      operationId: GetChargeByChargeCode
      requestBody:
        description: Charge Lookup Application Data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestRootObject'
            example:
              regime: string
              applicationDate: string
              source: string
              sourceRef: string
              globalFlags:
                - name: string
                  value: string
              calculations:
                - type: string
                  charges:
                    - chargeCode: string
                      externalRef: string
                      flags:
                        - name: string
                          value: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestRootObject'
              example:
                regime: string
                applicationDate: string
                source: string
                sourceRef: string
                globalFlags:
                  - name: string
                    value: string
                calculations:
                  - type: string
                    charges:
                      - chargeCode: string
                        externalRef: string
                        flags:
                          - name: string
                            value: string
        '201':
          description: Application data successfully submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestRootObject'
              example:
                regime: string
                applicationDate: string
                source: string
                sourceRef: string
                globalFlags:
                  - name: string
                    value: string
                calculations:
                  - type: string
                    charges:
                      - chargeCode: string
                        externalRef: string
                        flags:
                          - name: string
                            value: string
        '400':
          description: Invalid request data provided.
          content:
            application/json:
              schema:
                type: string
              example: string
        '500':
          description: Server error while processing the request.
          content:
            application/json:
              schema:
                type: string
              example: string
  /GetCharge:
    post:
      tags:
        - Charge Calculation
      summary: GetCharge
      description: GetCharge
      operationId: GetCharge
      requestBody:
        description: Permit Application Data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/headerRoot'
            example:
              context:
                regime: string
                effectiveDate: string
                source: string
                sourceRef: string
                chargeRequestType: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/headerRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
        '201':
          description: Application data successfully submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/headerRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
        '400':
          description: Invalid request data provided.
          content:
            application/json:
              schema:
                type: string
              example: string
        '500':
          description: Server error while processing the request.
          content:
            application/json:
              schema:
                type: string
              example: string
  /MCPSGCalculation:
    post:
      tags:
        - MCPSG Charge Calculation
      summary: MCPSGCalculation
      description: MCPSGCalculation
      operationId: MCPSGCalculation
      requestBody:
        description: MCPSG Application Data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mcpsgRoot'
            example:
              context:
                regime: string
                effectiveDate: string
                source: string
                sourceRef: string
                chargeRequestType: string
              application:
                id: string
                registrationTypeId: string
                registrationTypeDescription: string
                periodSpan: string
                activities:
                  - id: string
                    name: string
                    regulatedActivityClass:
                      id: string
                      name: string
                    regulatedActivitySubClass:
                      id: string
                      name: string
                    standardRule:
                      id: string
                      name: string
                    properties:
                      - id: string
                        name: string
                        propertyValue: string
                        propertyValueDecimal: 0
                        propertyValueBoolean: true
                        propertyValueDateTime: { }
                    relatedEntryReleasePoints:
                      - id: string
                    relatedApplicationPermitAssets:
                      - id: string
                documents:
                  - id: string
                    name: string
                locations:
                  - locationId: string
                    type: string
                    predefinedLocationId: string
                    predefinedLocationDescription: string
                    subLocations:
                      - subLocationId: string
                        subLocationDescription: string
                    relatedEntryReleasePoints:
                      - id: string
                entryOrReleasePoints:
                  - id: string
                    name: string
                    entryOrRelease: string
                    nationalGridReference: string
                    limits:
                      - { }
                applicationPermitAssets:
                  - id: string
                    assetName: string
                    categoryId: string
                    categoryDescription: string
                    subcategoryId: string
                    subCategoryDescription: string
                    assetVersion: 0
                    number: 0
                    assetProps:
                      - id: string
                        name: string
                        propertyValue: string
                        unit: string
                        unitId: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mcpsgRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
                application:
                  id: string
                  registrationTypeId: string
                  registrationTypeDescription: string
                  periodSpan: string
                  activities:
                    - id: string
                      name: string
                      regulatedActivityClass:
                        id: string
                        name: string
                      regulatedActivitySubClass:
                        id: string
                        name: string
                      standardRule:
                        id: string
                        name: string
                      properties:
                        - id: string
                          name: string
                          propertyValue: string
                          propertyValueDecimal: 0
                          propertyValueBoolean: true
                          propertyValueDateTime: { }
                      relatedEntryReleasePoints:
                        - id: string
                      relatedApplicationPermitAssets:
                        - id: string
                  documents:
                    - id: string
                      name: string
                  locations:
                    - locationId: string
                      type: string
                      predefinedLocationId: string
                      predefinedLocationDescription: string
                      subLocations:
                        - subLocationId: string
                          subLocationDescription: string
                      relatedEntryReleasePoints:
                        - id: string
                  entryOrReleasePoints:
                    - id: string
                      name: string
                      entryOrRelease: string
                      nationalGridReference: string
                      limits:
                        - { }
                  applicationPermitAssets:
                    - id: string
                      assetName: string
                      categoryId: string
                      categoryDescription: string
                      subcategoryId: string
                      subCategoryDescription: string
                      assetVersion: 0
                      number: 0
                      assetProps:
                        - id: string
                          name: string
                          propertyValue: string
                          unit: string
                          unitId: string
        '201':
          description: Application data successfully submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mcpsgRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
                application:
                  id: string
                  registrationTypeId: string
                  registrationTypeDescription: string
                  periodSpan: string
                  activities:
                    - id: string
                      name: string
                      regulatedActivityClass:
                        id: string
                        name: string
                      regulatedActivitySubClass:
                        id: string
                        name: string
                      standardRule:
                        id: string
                        name: string
                      properties:
                        - id: string
                          name: string
                          propertyValue: string
                          propertyValueDecimal: 0
                          propertyValueBoolean: true
                          propertyValueDateTime: { }
                      relatedEntryReleasePoints:
                        - id: string
                      relatedApplicationPermitAssets:
                        - id: string
                  documents:
                    - id: string
                      name: string
                  locations:
                    - locationId: string
                      type: string
                      predefinedLocationId: string
                      predefinedLocationDescription: string
                      subLocations:
                        - subLocationId: string
                          subLocationDescription: string
                      relatedEntryReleasePoints:
                        - id: string
                  entryOrReleasePoints:
                    - id: string
                      name: string
                      entryOrRelease: string
                      nationalGridReference: string
                      limits:
                        - { }
                  applicationPermitAssets:
                    - id: string
                      assetName: string
                      categoryId: string
                      categoryDescription: string
                      subcategoryId: string
                      subCategoryDescription: string
                      assetVersion: 0
                      number: 0
                      assetProps:
                        - id: string
                          name: string
                          propertyValue: string
                          unit: string
                          unitId: string
        '400':
          description: Invalid request data provided.
          content:
            application/json:
              schema:
                type: string
              example: string
        '500':
          description: Server error while processing the request.
          content:
            application/json:
              schema:
                type: string
              example: string
  /NAVASCalculation:
    get:
      tags:
        - NAVAS Charge Calculation
      summary: NAVASCalculation
      description: NAVASCalculation
      operationId: NAVASCalculation
      requestBody:
        description: NAVAS Application Data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/navRoot'
            example:
              context:
                regime: string
                effectiveDate: string
                source: string
                sourceRef: string
                chargeRequestType: string
              application:
                id: string
                registrationTypeId: string
                registrationTypeDescription: string
                periodSpan: string
                activities:
                  - id: string
                    name: string
                    regulatedActivityClass:
                      id: string
                      name: string
                    regulatedActivitySubClass:
                      id: string
                      name: string
                    standardRule:
                      id: string
                      name: string
                    properties:
                      - id: string
                        name: string
                        propertyValue: string
                        propertyValueDecimal: 0
                        propertyValueBoolean: true
                        propertyValueDateTime: { }
                    relatedEntryReleasePoints:
                      - id: string
                    relatedApplicationPermitAssets:
                      - id: string
                documents:
                  - id: string
                    name: string
                locations:
                  - locationId: string
                    type: string
                    predefinedLocationId: string
                    predefinedLocationDescription: string
                    subLocations:
                      - subLocationId: string
                        subLocationDescription: string
                    relatedEntryReleasePoints:
                      - id: string
                entryOrReleasePoints:
                  - id: string
                    name: string
                    entryOrRelease: string
                    nationalGridReference: string
                    limits:
                      - { }
                applicationPermitAssets:
                  - id: string
                    assetName: string
                    categoryId: string
                    categoryDescription: string
                    subcategoryId: string
                    subCategoryDescription: string
                    assetVersion: 0
                    number: 0
                    assetProps:
                      - id: string
                        name: string
                        propertyValue: string
                        unit: string
                        unitId: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/navRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
                application:
                  id: string
                  registrationTypeId: string
                  registrationTypeDescription: string
                  periodSpan: string
                  activities:
                    - id: string
                      name: string
                      regulatedActivityClass:
                        id: string
                        name: string
                      regulatedActivitySubClass:
                        id: string
                        name: string
                      standardRule:
                        id: string
                        name: string
                      properties:
                        - id: string
                          name: string
                          propertyValue: string
                          propertyValueDecimal: 0
                          propertyValueBoolean: true
                          propertyValueDateTime: { }
                      relatedEntryReleasePoints:
                        - id: string
                      relatedApplicationPermitAssets:
                        - id: string
                  documents:
                    - id: string
                      name: string
                  locations:
                    - locationId: string
                      type: string
                      predefinedLocationId: string
                      predefinedLocationDescription: string
                      subLocations:
                        - subLocationId: string
                          subLocationDescription: string
                      relatedEntryReleasePoints:
                        - id: string
                  entryOrReleasePoints:
                    - id: string
                      name: string
                      entryOrRelease: string
                      nationalGridReference: string
                      limits:
                        - { }
                  applicationPermitAssets:
                    - id: string
                      assetName: string
                      categoryId: string
                      categoryDescription: string
                      subcategoryId: string
                      subCategoryDescription: string
                      assetVersion: 0
                      number: 0
                      assetProps:
                        - id: string
                          name: string
                          propertyValue: string
                          unit: string
                          unitId: string
        '201':
          description: Application data successfully submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/navRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
                application:
                  id: string
                  registrationTypeId: string
                  registrationTypeDescription: string
                  periodSpan: string
                  activities:
                    - id: string
                      name: string
                      regulatedActivityClass:
                        id: string
                        name: string
                      regulatedActivitySubClass:
                        id: string
                        name: string
                      standardRule:
                        id: string
                        name: string
                      properties:
                        - id: string
                          name: string
                          propertyValue: string
                          propertyValueDecimal: 0
                          propertyValueBoolean: true
                          propertyValueDateTime: { }
                      relatedEntryReleasePoints:
                        - id: string
                      relatedApplicationPermitAssets:
                        - id: string
                  documents:
                    - id: string
                      name: string
                  locations:
                    - locationId: string
                      type: string
                      predefinedLocationId: string
                      predefinedLocationDescription: string
                      subLocations:
                        - subLocationId: string
                          subLocationDescription: string
                      relatedEntryReleasePoints:
                        - id: string
                  entryOrReleasePoints:
                    - id: string
                      name: string
                      entryOrRelease: string
                      nationalGridReference: string
                      limits:
                        - { }
                  applicationPermitAssets:
                    - id: string
                      assetName: string
                      categoryId: string
                      categoryDescription: string
                      subcategoryId: string
                      subCategoryDescription: string
                      assetVersion: 0
                      number: 0
                      assetProps:
                        - id: string
                          name: string
                          propertyValue: string
                          unit: string
                          unitId: string
        '400':
          description: Invalid request data provided.
          content:
            application/json:
              schema:
                type: string
              example: string
        '500':
          description: Server error while processing the request.
          content:
            application/json:
              schema:
                type: string
              example: string
  /NAVCalculation:
    post:
      tags:
        - NAV Charge Calculation
      summary: NAVCalculation
      description: NAVCalculation
      operationId: NAVCalculation
      requestBody:
        description: NAV Application Data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/navRoot'
            example:
              context:
                regime: string
                effectiveDate: string
                source: string
                sourceRef: string
                chargeRequestType: string
              application:
                id: string
                registrationTypeId: string
                registrationTypeDescription: string
                periodSpan: string
                activities:
                  - id: string
                    name: string
                    regulatedActivityClass:
                      id: string
                      name: string
                    regulatedActivitySubClass:
                      id: string
                      name: string
                    standardRule:
                      id: string
                      name: string
                    properties:
                      - id: string
                        name: string
                        propertyValue: string
                        propertyValueDecimal: 0
                        propertyValueBoolean: true
                        propertyValueDateTime: { }
                    relatedEntryReleasePoints:
                      - id: string
                    relatedApplicationPermitAssets:
                      - id: string
                documents:
                  - id: string
                    name: string
                locations:
                  - locationId: string
                    type: string
                    predefinedLocationId: string
                    predefinedLocationDescription: string
                    subLocations:
                      - subLocationId: string
                        subLocationDescription: string
                    relatedEntryReleasePoints:
                      - id: string
                entryOrReleasePoints:
                  - id: string
                    name: string
                    entryOrRelease: string
                    nationalGridReference: string
                    limits:
                      - { }
                applicationPermitAssets:
                  - id: string
                    assetName: string
                    categoryId: string
                    categoryDescription: string
                    subcategoryId: string
                    subCategoryDescription: string
                    assetVersion: 0
                    number: 0
                    assetProps:
                      - id: string
                        name: string
                        propertyValue: string
                        unit: string
                        unitId: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/navRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
                application:
                  id: string
                  registrationTypeId: string
                  registrationTypeDescription: string
                  periodSpan: string
                  activities:
                    - id: string
                      name: string
                      regulatedActivityClass:
                        id: string
                        name: string
                      regulatedActivitySubClass:
                        id: string
                        name: string
                      standardRule:
                        id: string
                        name: string
                      properties:
                        - id: string
                          name: string
                          propertyValue: string
                          propertyValueDecimal: 0
                          propertyValueBoolean: true
                          propertyValueDateTime: { }
                      relatedEntryReleasePoints:
                        - id: string
                      relatedApplicationPermitAssets:
                        - id: string
                  documents:
                    - id: string
                      name: string
                  locations:
                    - locationId: string
                      type: string
                      predefinedLocationId: string
                      predefinedLocationDescription: string
                      subLocations:
                        - subLocationId: string
                          subLocationDescription: string
                      relatedEntryReleasePoints:
                        - id: string
                  entryOrReleasePoints:
                    - id: string
                      name: string
                      entryOrRelease: string
                      nationalGridReference: string
                      limits:
                        - { }
                  applicationPermitAssets:
                    - id: string
                      assetName: string
                      categoryId: string
                      categoryDescription: string
                      subcategoryId: string
                      subCategoryDescription: string
                      assetVersion: 0
                      number: 0
                      assetProps:
                        - id: string
                          name: string
                          propertyValue: string
                          unit: string
                          unitId: string
        '201':
          description: Application data successfully submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/navRoot'
              example:
                context:
                  regime: string
                  effectiveDate: string
                  source: string
                  sourceRef: string
                  chargeRequestType: string
                application:
                  id: string
                  registrationTypeId: string
                  registrationTypeDescription: string
                  periodSpan: string
                  activities:
                    - id: string
                      name: string
                      regulatedActivityClass:
                        id: string
                        name: string
                      regulatedActivitySubClass:
                        id: string
                        name: string
                      standardRule:
                        id: string
                        name: string
                      properties:
                        - id: string
                          name: string
                          propertyValue: string
                          propertyValueDecimal: 0
                          propertyValueBoolean: true
                          propertyValueDateTime: { }
                      relatedEntryReleasePoints:
                        - id: string
                      relatedApplicationPermitAssets:
                        - id: string
                  documents:
                    - id: string
                      name: string
                  locations:
                    - locationId: string
                      type: string
                      predefinedLocationId: string
                      predefinedLocationDescription: string
                      subLocations:
                        - subLocationId: string
                          subLocationDescription: string
                      relatedEntryReleasePoints:
                        - id: string
                  entryOrReleasePoints:
                    - id: string
                      name: string
                      entryOrRelease: string
                      nationalGridReference: string
                      limits:
                        - { }
                  applicationPermitAssets:
                    - id: string
                      assetName: string
                      categoryId: string
                      categoryDescription: string
                      subcategoryId: string
                      subCategoryDescription: string
                      assetVersion: 0
                      number: 0
                      assetProps:
                        - id: string
                          name: string
                          propertyValue: string
                          unit: string
                          unitId: string
        '400':
          description: Invalid request data provided.
          content:
            application/json:
              schema:
                type: string
              example: string
        '500':
          description: Server error while processing the request.
          content:
            application/json:
              schema:
                type: string
              example: string
components:
  schemas:
    activity:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        regulatedActivityClass:
          $ref: '#/components/schemas/regulatedActivityClass'
        regulatedActivitySubClass:
          $ref: '#/components/schemas/regulatedActivitySubClass'
        standardRule:
          $ref: '#/components/schemas/standardRule'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/property'
        relatedEntryReleasePoints:
          type: array
          items:
            $ref: '#/components/schemas/relatedEntryReleasePoint'
        relatedApplicationPermitAssets:
          type: array
          items:
            $ref: '#/components/schemas/relatedApplicationPermitAsset'
    application:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        registrationTypeId:
          type: string
          format: uuid
          nullable: true
        registrationTypeDescription:
          type: string
        periodSpan:
          type: string
        activities:
          type: array
          items:
            $ref: '#/components/schemas/activity'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/document'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/location'
        entryOrReleasePoints:
          type: array
          items:
            $ref: '#/components/schemas/entryOrReleasePoint'
        applicationPermitAssets:
          type: array
          items:
            $ref: '#/components/schemas/applicationPermitAsset'
    applicationPermitAsset:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        assetName:
          type: string
        categoryId:
          type: string
          format: uuid
          nullable: true
        categoryDescription:
          type: string
        subcategoryId:
          type: string
          format: uuid
          nullable: true
        subCategoryDescription:
          type: string
        assetVersion:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
          nullable: true
        assetProps:
          type: array
          items:
            $ref: '#/components/schemas/assetProp'
    assetProp:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        propertyValue:
          type: string
        unit:
          type: string
        unitId:
          type: string
          format: uuid
          nullable: true
    context:
      type: object
      properties:
        regime:
          type: string
        effectiveDate:
          type: string
          format: date-time
        source:
          type: string
        sourceRef:
          type: string
          format: uuid
          nullable: true
        chargeRequestType:
          type: string
    document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    entryOrReleasePoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        entryOrRelease:
          type: string
        nationalGridReference:
          type: string
        limits:
          type: array
          items:
            type: object
    headerRoot:
      type: object
      properties:
        context:
          $ref: '#/components/schemas/context'
    location:
      type: object
      properties:
        locationId:
          type: string
          format: uuid
          nullable: true
        type:
          type: string
        predefinedLocationId:
          type: string
          format: uuid
          nullable: true
        predefinedLocationDescription:
          type: string
        subLocations:
          type: array
          items:
            $ref: '#/components/schemas/subLocation'
        relatedEntryReleasePoints:
          type: array
          items:
            $ref: '#/components/schemas/relatedEntryReleasePoint'
    mcpsgRoot:
      type: object
      properties:
        context:
          $ref: '#/components/schemas/context'
        application:
          $ref: '#/components/schemas/application'
    navRoot:
      type: object
      properties:
        context:
          $ref: '#/components/schemas/context'
        application:
          $ref: '#/components/schemas/application'
    property:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        propertyValue:
          type: string
        propertyValueDecimal:
          type: number
          format: double
        propertyValueBoolean:
          type: boolean
        propertyValueDateTime:
          type: object
    regulatedActivityClass:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
    regulatedActivitySubClass:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
    relatedApplicationPermitAsset:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
    relatedEntryReleasePoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
    requestCalculation:
      type: object
      properties:
        type:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/requestCharge'
    requestCharge:
      type: object
      properties:
        chargeCode:
          type: string
        externalRef:
          type: string
        flags:
          type: array
          items:
            $ref: '#/components/schemas/requestFlag'
    requestFlag:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    requestGlobalFlag:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    requestRootObject:
      type: object
      properties:
        regime:
          type: string
        applicationDate:
          type: string
          format: date-time
        source:
          type: string
        sourceRef:
          type: string
        globalFlags:
          type: array
          items:
            $ref: '#/components/schemas/requestGlobalFlag'
        calculations:
          type: array
          items:
            $ref: '#/components/schemas/requestCalculation'
    standardRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
    subLocation:
      type: object
      properties:
        subLocationId:
          type: string
          format: uuid
          nullable: true
        subLocationDescription:
          type: string
